.contact__first__section {
  width: 100%;
  height: 600px;
  background-image: url("../img/Category/Contact.JPG");
  background-size: cover;
  position: relative;
  isolation: isolate;
}
/*
.contact__first__section::after {
  content: "";
  position: absolute;
  background: white;
  z-index: -1;
  inset: 0;
  opacity: 0.3;
}*/

.contact__first__section__container {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.contact__first__section__container h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  padding: 20px;
  color: white;
  font-family: "Quintessential", serif;
  font-weight: 400;
  font-style: normal;
}

.contact__first__section__description {
}

.contact__second__section {
  width: 100%;
  height: 100%;
  margin-top: 150px;
}

.contact__second__section__container {
  width: 100%;
  height: 100%;
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: space-between;
}

.contact__second__section__container__webform__des {
  margin-left: 15%;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 50px;
}

.contact__second__section__container__webform__des h1 {
  font-family: "Tinos", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4rem;
  margin: 0px;
  margin-bottom: 30px;
}
.contact__second__section__container__webform__des p {
  font-family: "Quintessential", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 2rem;
  margin: 0px;
}
.contact__second__section__container__webform__des #des1 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.contact__second__section__container__webform__des #des2 {
  font-size: 2rem;
  margin-bottom: 30px;
}
.contact__second__section__container__webform__des #des3,
#des4 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.contact__second__section__container__webform {
  width: 50%;
  display: flex;
  align-items: center;
}

.form-elements {
  display: flex;
  flex-direction: column;
}
.pure-group {
  display: flex;
  align-items: start;
  gap: 5px;
  border: none;
  margin: 0px;
  padding: 0px;
  padding-bottom: 10px;
}

.pure-group input,
textarea {
  background-color: black;
  color: white;
}

.pure-group #name,
#name,
#phone,
#email,
#message {
  border: 1px solid white;
}
.gform {
}

.pure-group input {
  width: 600px;
  height: 60px;
  font-size: 1.5rem;
}

.pure-group textarea {
  width: 600px;
  height: 200px;
  font-size: 1.5rem;
}

.button-success {
  border: 1px solid white;
  height: 40px;
  width: 250px;
  margin-top: 20px;
  font-family: "Tinos", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  background-color: black;
  color: white;
}

.button-success:hover {
  border-bottom: 2px solid #efeade;
  color: rgb(240, 205, 140);
}

.contact__third__section {
  margin-top: 150px;
  width: 100%;
  height: 100%;
}

.contact__second__section__container__map {
  padding: 100px;
}
